@page "/layout/grid"

<h3>Grid</h3>

<BootstrapContainer Class="text-center">
    <BootstrapRow>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">Column</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">Column</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">Column</BootstrapColumn>
    </BootstrapRow>
</BootstrapContainer>

<h3>Equal-width</h3>

<BootstrapContainer Class="text-center">
    <BootstrapRow>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 2</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 2</BootstrapColumn>
    </BootstrapRow>
    <BootstrapRow>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
    </BootstrapRow>
</BootstrapContainer>

<h3>Setting one column width</h3>

<BootstrapContainer Class="text-center">
    <BootstrapRow>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
        <BootstrapColumn Colspan="6" Style="border:solid 1px;background-color:lightsteelblue">1 of 3 (wider)</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
    </BootstrapRow>
    <BootstrapRow>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
        <BootstrapColumn Colspan="5" Style="border:solid 1px;background-color:lightsteelblue">1 of 3 (wider)</BootstrapColumn>
        <BootstrapColumn Style="border:solid 1px;background-color:lightsteelblue">1 of 3</BootstrapColumn>
    </BootstrapRow>
</BootstrapContainer>

<h3>Stacked to horizontal</h3>

<BootstrapContainer Class="text-center">
    <BootstrapRow>
        <BootstrapColumn Col="@false" Breakpoint="@Size.sm" BreakpointColspan="8" Style="border:solid 1px;background-color:lightsteelblue">col-sm-8</BootstrapColumn>
        <BootstrapColumn Col="@false" Breakpoint="@Size.sm" BreakpointColspan="4" Style="border:solid 1px;background-color:lightsteelblue">col-sm-4</BootstrapColumn>
    </BootstrapRow>
    <BootstrapRow>
        <BootstrapColumn Col="@false" Breakpoint="@Size.sm" Style="border:solid 1px;background-color:lightsteelblue">col-sm</BootstrapColumn>
        <BootstrapColumn Col="@false" Breakpoint="@Size.sm" Style="border:solid 1px;background-color:lightsteelblue">col-sm</BootstrapColumn>
        <BootstrapColumn Col="@false" Breakpoint="@Size.sm" Style="border:solid 1px;background-color:lightsteelblue">col-sm</BootstrapColumn>
    </BootstrapRow>
</BootstrapContainer>

<h3>Mix and match</h3>

<BootstrapContainer Class="text-center">
    <BootstrapRow>
        <BootstrapColumn Col="@false" Breakpoint="@Size.md" BreakpointColspan="8" Style="border:solid 1px;background-color:lightsteelblue">col-md-8</BootstrapColumn>
        <BootstrapColumn Colspan="6" Breakpoint="@Size.md" BreakpointColspan="4" Style="border:solid 1px;background-color:lightsteelblue">col-6 col-md-4</BootstrapColumn>
    </BootstrapRow>
    <BootstrapRow>
        <BootstrapColumn Colspan="6" Breakpoint="@Size.md" Style="border:solid 1px;background-color:lightsteelblue">col-6 col-md-4</BootstrapColumn>
        <BootstrapColumn Colspan="6" Breakpoint="@Size.md" Style="border:solid 1px;background-color:lightsteelblue">col-6 col-md-4</BootstrapColumn>
        <BootstrapColumn Colspan="6" Breakpoint="@Size.md" Style="border:solid 1px;background-color:lightsteelblue">col-6 col-md-4</BootstrapColumn>
    </BootstrapRow>
    <BootstrapRow>
        <BootstrapColumn Colspan="6" Style="border:solid 1px;background-color:lightsteelblue">col-6</BootstrapColumn>
        <BootstrapColumn Colspan="6" Style="border:solid 1px;background-color:lightsteelblue">col-6</BootstrapColumn>
    </BootstrapRow>
</BootstrapContainer>
