@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<button @ref="@Element" type="button" class="@Classname" style="@Style" disabled="@Disabled" @attributes="@AdditionalAttributes" @onclick="@OnClick"></button>
