@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<button type="button" class="@Classname" style="@Style" disabled="@Disabled" @attributes="@AdditionalAttributes" @onclick="@OnClick"></button>
