@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<div @ref="@Element" class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <ul class="@NavClassname">
        @ChildContent
    </ul>
</div>
