@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<li class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <a class="@LinkClassname" href="@Href">@ChildContent</a>
</li>
