@namespace BootstrapBlazor
@inherits BootstrapComponentBase
@using Microsoft.AspNetCore.Components.Routing

<li class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <NavLink Match="@Match" href="@Href" class="nav-link px-2">@ChildContent</NavLink>
</li>