@namespace BootstrapBlazor
@inherits BootstrapComponentBase
@implements IDisposable

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <h2 class="accordion-header">
        <button class="@HeaderClassname" type="button" @onclick="@OnToggleItem">
            @Title
        </button>
    </h2>
    <div class="@CollapseClassname" style="@CollapseStylelist">
        <div class="accordion-body">
            @ChildContent
        </div>
    </div>
</div>