@page "/components/modal"
@inject ToastService ToastService
@inject ModalService ModalService

<h3>Examples</h3>
<BootstrapModal @ref="@modal1" Title="Modal title">
    <ChildContent>
        <p>Modal body text goes here.</p>
    </ChildContent>
    <ActionsContent>
        <BootstrapButton Color="@Color.secondary" OnClick="_=>modal1?.Close()">Close</BootstrapButton>
        <BootstrapButton>Save changes</BootstrapButton>
    </ActionsContent>
</BootstrapModal>
<BootstrapButton OnClick="_=>modal1?.Show()">ShowModal</BootstrapButton>

<h3>Live demo</h3>
<BootstrapButton OnClick="@ShowLiveModalAsync">ShowLiveModal</BootstrapButton>

<h3>Static backdrop</h3>
<BootstrapModal @ref="@modal2" Title="Modal title" Options="@(new ModalOptions{ StaticBackdrop = true })">
    <ChildContent>
        <p>Modal body text goes here.</p>
    </ChildContent>
    <ActionsContent>
        <BootstrapButton Color="@Color.secondary" OnClick="_=>modal2?.Close()">Close</BootstrapButton>
        <BootstrapButton>Save changes</BootstrapButton>
    </ActionsContent>
</BootstrapModal>
<BootstrapButton OnClick="_=>modal2?.Show()">ShowModal</BootstrapButton>

<h3>Vertically centered</h3>
<BootstrapModal @ref="@modal3" Title="Modal title" Options="@(new ModalOptions{ Centered = true })">
    <ChildContent>
        <p>Modal body text goes here.</p>
    </ChildContent>
    <ActionsContent>
        <BootstrapButton Color="@Color.secondary" OnClick="_=>modal3?.Close()">Close</BootstrapButton>
        <BootstrapButton>Save changes</BootstrapButton>
    </ActionsContent>
</BootstrapModal>
<BootstrapButton OnClick="_=>modal3?.Show()">ShowModal</BootstrapButton>

<h3>Toggle between modals</h3>
<BootstrapModal @ref="@modal4" Title="Modal title">
    <ChildContent>
        <p>Modal body text goes here.</p>
    </ChildContent>
    <ActionsContent>
        <BootstrapButton Color="@Color.secondary" OnClick="_=>modal4?.Close()">Close</BootstrapButton>
        <BootstrapButton OnClick="@ShowLiveModalAsync">Open sencode modal</BootstrapButton>
    </ActionsContent>
</BootstrapModal>
<BootstrapButton OnClick="_=>modal4?.Show()">Open first modal</BootstrapButton>

@code {
    private BootstrapModal? modal1;
    private BootstrapModal? modal2;
    private BootstrapModal? modal3;
    private BootstrapModal? modal4;

    private async Task ShowLiveModalAsync()
    {
        var reference = ModalService.Show<ModalContentExample>();
        var res = await reference.Result;
        ToastService.ShowInfo(res.Data?.ToString() ?? "");
    }
}
