@namespace BootstrapBlazor
@inherits BootstrapComponentBase
@typeparam TItem

<tr @ref="@Element" class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (Table?.MultiSelection == true)
    {
        <td class="table-checkbox">
            <input type="checkbox" class="form-check-input" checked="@Checked" @onchange="@OnCheckedChanged" />
        </td>
    }
    @ChildContent
</tr>
