@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<div @ref="@Element" class="progress" role="progressbar">
    <div class="@Classname" style="@Stylelist" @attributes="@AdditionalAttributes">
        @if (ShowLabel)
        {
            @(_value + "%")
        }
    </div>
</div>
