@page "/forms/validation"
@using System.ComponentModel.DataAnnotations;

<h3>Validation</h3>

<EditForm @ref="@form" Model="@test" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <BootstrapFormField Label="Text1" Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end" InvalidText="不能为空">
        <BootstrapInputText @bind-Value="@test.Field1" />
    </BootstrapFormField>
    <BootstrapFormField Label="Text2" Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapInputText @bind-Value="@test.Field1" />
    </BootstrapFormField>
    <BootstrapFormField Label="RadioGroup" Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapRadioGroup @bind-Value="@test.Radio1">
            <BootstrapRadio Value="1">1</BootstrapRadio>
            <BootstrapRadio Value="2">2</BootstrapRadio>
            <BootstrapRadio Value="3">3</BootstrapRadio>
        </BootstrapRadioGroup>
    </BootstrapFormField>
    <BootstrapFormField Label="Select" Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapSelect @bind-Value="@test.Radio1">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </BootstrapSelect>
    </BootstrapFormField>
    <BootstrapFormField Label="Date" Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapDateTime @bind-Value="@test.Date1" />
    </BootstrapFormField>
    <BootstrapFormField Label="Range" Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapRange Min="0" Max="100" @bind-Value="@test.Range1" />
    </BootstrapFormField>
    <BootstrapFormField Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapCheckbox Label="同意" @bind-Value="@test.Checked1" />
    </BootstrapFormField>
    <BootstrapFormField Class="mb-3" LabelClass="col-lg-3 col-md-2 text-md-end">
        <BootstrapCheckbox IsSwitch Label="同意" @bind-Value="@test.Checked1" />
    </BootstrapFormField>
    <div class="offset-lg-3 offset-md-2">
        <BootstrapButton ButtonType="@ButtonType.submit">Submit form</BootstrapButton>
        <BootstrapButton ButtonType="@ButtonType.reset" Color="@Color.secondary" OnClick="@OnResetForm">Reset form
        </BootstrapButton>
    </div>
</EditForm>

@code {
    private EditForm? form;
    private ValidationClass test = new ValidationClass();

    private void OnValidSubmit()
    {

    }

    private void OnResetForm()
    {
        test = new ValidationClass();
    }

    class ValidationClass
    {
        [Required]
        public string? Field1 { get; set; }

        [Range(1, 10)]
        public int Radio1 { get; set; }

        [Required]
        [Range(typeof(DateTime), "2024-01-01", "2024-03-31")]
        public DateTime? Date1 { get; set; }

        [Range(1, 100)]
        public int Range1 { get; set; }

        [Range(1, 1)]
        public bool Checked1 { get; set; }
    }
}
