@namespace BootstrapBlazor
@inherits BootstrapInputBase<bool>

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span class="form-check-label">@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span class="form-check-label">@Label</span>
    }
    <input @ref="@Element" type="checkbox" id="@Id" name="@Name" class="@Classname" style="@Style" required="@Required" disabled="@Disabled" readonly="@Readonly" @attributes="@AdditionalAttributes" checked="@BindConverter.FormatValue(Value)" @onchange="@(EventCallback.Factory.CreateBinder<bool>(this,__value=>Value=__value,Value))" />
</label>